$mdWidth: 860px;
$lgWidth: 1000px;

$lightBackgroundColor: rgb(235,235,252);
$cardBackgroundColor: rgb(255,255,255);
$darkColor: #333333;

$lightColor: #ddeeff;

$fontColor: rgba(0,0,0,0.87);

.mdUp {
  display:none;
  @media(min-width:$mdWidth) {
    display:inline-block;
  }
}
.lgUp {
  display:none;
  @media(min-width: $lgWidth) {
    display: inline-block;
  }
}

body, html {
  margin:0;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
  max-height: calc(100vh - 50px);
}
body {
  background-color: $lightBackgroundColor;
}
i {
  color: $fontColor;
}
input, select {
  text-align: center;
  width: 180px;
}

h2 {
  font-weight: 300;
}
button {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.iconBtn {
  border:none;
  background:none;
}
.bottomFloatingBtn {
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  background: grey;
  border-radius: 50%;
  padding: 1rem;
}

.divider {
  $dividerPadding: 1rem;
  padding-top:$dividerPadding;
  margin-bottom: $dividerPadding;
  border-bottom: 1px solid $fontColor;
}
.white {
  color:white;
}
.black {
  color:black;
}
.widthAuto {
  width: auto;
}
.marginAuto {
  margin:auto;
}
.center {
  text-align: center;
}
.centerInParent {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  transform:translate(-50%, -50%);
}


md-toolbar {
  background:$darkColor !important;
}


$topBannerHeight: 50px;
$advertSectionHeight: 100px;
#advertSection {
  height: $advertSectionHeight;
  margin: 0 auto;
  padding-top: 5px;
  position: relative;

  @media(min-width: $mdWidth) {
    display: block;
  }

  .closeAdBtn {
    width: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
  }
}
.topBanner {
  width:100vw;
  height:$topBannerHeight;
  min-height: $topBannerHeight;
  overflow:hidden;

  .md-toolbar-tools {
    height:$topBannerHeight;
  }

  $topNavSpacing: 1rem;
  h3 {
    padding:0 $topNavSpacing;
    white-space: nowrap;
  }

  .topNavSpan {
    white-space: nowrap;
    display:none;

    &:nth-child(3), &:nth-child(4) {
      @media(min-width: 550px) {
          display: inline-block;
      }
    }
    &:nth-child(5), &:nth-child(6) {
      @media(min-width: 850px) {
        display:inline-block;
      }
    }
    @media(min-width: 1050px) {
      display:inline-block;
    }

    &:after {
      content: '|';
      padding: 0 $topNavSpacing / 2;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

  }

  .topNavRoute {
    margin:0 $topNavSpacing/2 0 $topNavSpacing/2;
    padding: 0.25rem;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 100;

    &.current, &:hover {
      background:$lightColor;
      color: $fontColor;
    }

  }
}

.menuList {
  padding: 0;
  margin:0;

  .menuItem {
    padding: 2.5rem 0rem 2.5rem 2rem;
    cursor: pointer;
    color:black;
    display:block;

    &:hover, &.current {
      background:$lightColor;
    }
  }
}

.closeSideBar {
  position:absolute;;
  top: 9px;
  right:0;
}

.card {
  background-color: $cardBackgroundColor;
  padding:2rem;
  margin: 1rem auto 1rem auto;
}
.bigCard {
  max-width: 1000px;
}

.medBtn {
  height:2.5rem;
  width:10rem;
}
.bigBtn {
  height:5rem;
  width: 14rem;
}

.mainImage {
  display:none;

  @media(min-width: $mdWidth) {
    display:block;
  }
}
.mainBtns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fullWidth {
  width:100% !important;
}

$graphColumnWidth: 350px;
.cardColumn {

  @media(min-width:$mdWidth) {
    margin-right:$graphColumnWidth;
  }
}
.graphColumn {
  display:none;

  @media(min-width:$mdWidth) {
    display:block;
    width: $graphColumnWidth;
    float:right;
  }
}

.textColumn {
  max-width:800px;
  margin:auto;
}

.fullLengthCol {
  max-height: calc(100vh - #{$topBannerHeight});
  overflow-y:scroll;

  @media(min-width: $mdWidth) {
    max-height: calc(100vh - #{$advertSectionHeight + $topBannerHeight});
  }
  
  &.advertClosed {
    max-height: calc(100vh - #{$topBannerHeight});
  }
}

.cardPanelCard {
  padding:0;
  position: relative;
}
.cardMargins {
  margin:1rem;
}
.cardPanelTitle {
  text-align: center;
}
.card-list {
  list-style:none;
  text-align:center;
  padding:0;

  li {
    display:inline-block;
    cursor: pointer;
    position:relative;
    width: 230px;

    .foil {
      color: white;
      background: rgba(0,0,0,0.7);
      padding: 0.5rem;
      border-radius: 50%;
      font-size: 1.7rem;
      position:absolute;
      top: 13%;
      left: 8%;
    }
  }
}

.clearBtn {
  position: absolute;
  top:0;
  right:0;
}
.saveBtn {
  position: absolute;
  left: 0;
  top: 0;
}

.testHandDialog {
  max-height: 98%;
  max-width: 98%;
}
