<section data-ng-controller="sealedsim as vm">

  <div ng-include data-src="'/app/adverts/adverts.html'"></div>


  <div class="graphColumn center fullLengthCol">
    <pool-summary-charts top-card-stats-title="'Card Pool Stats'"
                         top-graph-cards="vm.boosterCards"
                         bottom-card-stats-title="'Selected Cards Stats'"
                         bottom-graph-cards="vm.selectedCards"
                         controller-id="vm.controllerId"
                         charts-hidden="vm.chartsHidden" />
  </div>


  <div class="cardColumn center fullLengthCol" ng-class="{'fullWidth': vm.chartsHidden}">

    <set-selection set-groups="vm.setGroups">
       <div style="padding-top:1rem;">
           <select ng-options="item.value as item.text for item in vm.promo_options" ng-model="vm.include_promo">
           </select>
       </div>

       <md-button ng-click="vm.openBoosters()" class="md-raised md-primary medBtn">
         Open Boosters
       </md-button>
    </set-selection>

    <div>
      <card-display card-click="vm.addToDeck(card)"
                    cards="vm.boosterCards"
                    land-cards="vm.landcards"
                    land-card-click="vm.addLandCard(card)"
                    title="Cards from packs ({{vm.boosterCards.length}})"
                    show-save="true" />
    </div>

    <div>
      <card-display card-click="vm.removeFromDeck(card)"
                    cards="vm.selectedCards"
                    land-cards="vm.selectedLandCards"
                    land-card-click="vm.removeLandCard(card)"
                    title="Selected Cards ({{vm.selectedCards.length + vm.selectedLandCards.length}})"
                    clear-function="vm.clearSelection()"
                    show-save="true"
                    allow-test-hands="true" />
    </div>
  </div>

  <options-menu set-groups="vm.setGroups">
    <md-button ng-click="vm.toggleCharts()" class="md-raised md-primary medBtn mdUp">Toggle charts</md-button>
    <md-button ng-click="vm.saveCompletePool()" class="md-raised md-primary medBtn">Save complete pool</md-button>
    <hand-simulator selected-cards="vm.selectedCards"
                    selected-land-cards="vm.selectedLandCards"
                    controller-id="{{vm.controllerId}}" />
  </options-menu>

</section>
