<section class="mainbar" data-ng-controller="browsecards as vm">
    <section class="matter">
        <div class="container-fluid">

            <div class="fullViewWithAdvert">

                <div class="row">
                    <div ng-include data-src="'/app/adverts/amazonadverts.html'"></div>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-xs-12 addRowMargins">

                        <div class="textcenter">
                            <select ng-model="vm.selectedSet" ng-change="vm.swapCards()">
                                <option ng-repeat="set in vm.flatCardSets" value="{{set.setGroupNum}}|{{set.setNum}}">{{set.cardSet.fullName}}</option>
                            </select>
                        </div>

                        <div class="row">
                            <card-display title="Mythic Cards ({{vm.cards.mythicCards.length}})"
                                          cards="vm.cards.mythicCards" />
                        </div>
                        <div class="row">
                            <card-display title="Rare Cards ({{vm.cards.rareCards.length}})"
                                          cards="vm.cards.rareCards" />
                        </div>
                        <div class="row">
                            <card-display title="Uncommon Cards ({{vm.cards.uncommonCards.length}})"
                                          cards="vm.cards.uncommonCards" />
                        </div>
                        <div class="row">
                            <card-display title="Common Cards ({{vm.cards.commonCards.length}})"
                                          cards="vm.cards.commonCards" />
                        </div>
                </div>

            </div>
        </div>
    </section>
</section>
