<md-card class="card cardPanelCard cardMargins">
    <h3 class="cardPanelTitle">{{title}}</h3>
    <md-button ng-disabled="cards.length + landCards.length == 0" ng-if="showClear()" class="clearBtn" ng-click="clearFunction()" aria-label="Clear selection">
      Clear
      <md-tooltip md-direction="bottom">
          Clear selection
      </md-tooltip>
    </md-button>
    <md-button ng-if="showSave == 'true'" class="saveBtn" ng-click="saveSelection()" aria-label="Save selection">
      <md-tooltip md-direction="bottom">
          Download as .txt file
      </md-tooltip>
      <md-icon class="fa fa-download fa-2x"></md-icon>
    </md-button>


    <p ng-if="instructions != null">
        {{instructions}}
    </p>

    <div ng-if="allowTestHands == 'true'">
      <hand-simulator selected-cards="cards"
                      selected-land-cards="landCards"
                      is-enabled="true" />
    </div>

    <ul class="card-list">
        <li data-ng-repeat="card in cards track by $index">
            <div class="imgHolder">
              <img ng-click="cardClick({card: card})" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
            </div>
            <span ng-click="cardClick({card: card})" ng-if="card.isFoil == true && !card.isUsed" class="foil">FOIL</span>
            <span ng-click="cardClick({card: card})" ng-if="card.isUsed == true" class="foil">USED</span>
        </li>
        <li data-ng-repeat="card in landCards track by $index">
            <div class="imgHolder">
              <img ng-click="landCardClick({card: card})" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
            </div>
            <span ng-click="landCardClick({card: card})" data-ng-if="card.isFoil == true && !card.isUsed" class="foil">FOIL</span>
            <span ng-click="cardClick({card: card})" ng-if="card.isUsed == true" class="foil">USED</span>
        </li>
    </ul>
</md-card>
