
<md-card id="chartsDiv" ng-show="!chartsHidden" class="card cardMargins">

    <div class="center">
      <md-button class="md-raised md-primary medBtn" ng-click="hideCharts()">
          Hide Charts <i class="icon-chevron-up"></i>
      </md-button>
    </div>

    <div>
        <h3>{{topCardStatsTitle}} <span>({{topGraphCards.length}})</span></h3>
        <div>
            <h4>Number of Color Symbols</h4>
            <div id="colorPieChartContainer"></div>
        </div>
        <div>
            <h4>Mana Curve</h4>
            <div id="manaCurveBarChartContainer"></div>
        </div>
        <div>
            <h4>Number of Card Types</h4>
            <div id="typePieChartContainer"></div>
        </div>
    </div>

    <div ng-if="bottomGraphCards != null">
        <h3>{{bottomCardStatsTitle}} <span>({{bottomGraphCards.length}})</span></h3>
        <div>
            <h4>Number of Color Symbols</h4>
            <div id="colorPieChartContainer-bottom"></div>
        </div>
        <div>
            <h4>Mana Curve</h4>
            <div id="manaCurveBarChartContainer-bottom"></div>
        </div>
        <div>
            <h4>Number of Card Types</h4>
            <div id="typePieChartContainer-bottom"></div>
        </div>
    </div>

</div>
